@font-face {
  font-family: "proxima-nova-soft";
  font-style: normal;
  src: url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
}

*{
	font-family: "proxima-nova-soft", Arial;
}

.icon{
	display: inline-block;
	background-size: contain;
}

.title_celeste{
	color: #3498DB;
	font-weight: 700;
}

p{
	color: #494949;
	font-weight: 600;
	line-height: 1.76;
}

.bg-celeste{
	background-color: #75B9E7;
}

.bg-azul{
	background-color: #3498DB;
}

.title-h2{
	font-size: 3.7em;
	color: white;
	font-weight: 700;
}

.text-white{
	color: white;
}

/*Estilos para la portada*/
#portada .icon{
	position: absolute;
}

.icon--hero{
	background-position: center bottom;
	background-size: cover;
	bottom: -4.5rem;
	right: 0;
	height: 100%;	
	width: 100%;
	z-index: 4;
}

.icon--hero-bg{
	background-position: right bottom;
	background-size: cover;
	top: 0;
	left: 0;
	bottom: 4.5rem;
	width: 100%;
}

.icon--hero-park{
	bottom: 1.85rem;
	left: 5%;
	width: 150px;
    height: 180px;
}

.icon--hero-bench{
	bottom: 1.85rem;
	right: 14%;
	width: 100px;
    height: 45px;
}

#portada{
	position: relative;
	color: #fff;
	height: 480px;
}

#portada .container{
	position: absolute;
    top: 22%;
    width: 100%;
}

#portada img[alt="logo"]{
	width: 120px;
	height: auto;
	margin: 0 auto 10px;
}

#portada button{
	background-color: #3498DB;
	border: none;
	border-radius: 25px;
	width: 21rem;
}

#portada button:hover{
	background-color: #1280c9;
}

/*Estilos de About*/
#about .icon_about{
	background-color: #FFCC66;
	width: 240px;
	height: 240px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#about .icon_about i{
	width: 170px;
	height: 170px;
}

#about .row{
	margin-top:	3rem;
	margin-bottom: 3rem;
}

#about h3{
	font-size: 2.57em;
}

/*Estilos de our promise*/
#our-promise h2{
	font-size: 3.45em;
}

#our-promise i{
	width: 75px;
	height: 80px;
}

#our-promise h5{
	color: #6EA43F;
	font-size: 1.5em;
	font-weight: 600;
}

/*Estilos de our community*/
#our-community img{
    width: 150px;
    height: 150px;
}

#our-community i{
	width: 150px;
	height: 70px;
}

#our-community p{
	color: white;
}

h2+p{
	line-height: 2em;
	font-size: 1.3em;
}

img+p{
	font-size: 1.3em;
	line-height: normal;
	margin-top: 0.5em;
	margin-bottom: 0;
}

/*Estilos de checklist*/
#checklist .checklist{
	background-color: white;
	color: black;
	height: 900px;
	overflow: auto;
	margin-bottom: 2em;
	border-radius: 5px;
}
#checklist .checklist.medium{
	height: 380px;
}
@media (min-width: 992px){
	#checklist .checklist{
		height: 700px;
	}

	#checklist .checklist.medium{
		height: 270px;
	}

}

#checklist h4{
	line-height: 2;
	font-size: 1.7em;
	font-weight: 700;
}

#checklist li{
	padding: 1em 0 1em 4em;
	line-height: 1.7;
}